<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>xip_2fa</name>
	<displayName><![CDATA[XIP 2FA]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Two factor authentication]]></description>
	<author><![CDATA[XopyIP]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
